@font-face {
  font-family: "Calibri_6.26.0_system";
  src: url("../../../fonts/Calibri-Light_6.26.0_system.ttf");
  font-weight: 300; 
  font-display: swap;
}
@font-face {
  font-family: "Roboto_49.0.0_google";
  src: url("../../../fonts/Roboto-Bold_49.0.0_google.ttf");
  font-weight: 700; 
  font-display: swap;
}
@font-face {
  font-family: "Roboto_49.0.0_google";
  src: url("../../../fonts/Roboto-Regular_49.0.0_google.ttf");
  font-weight: 400; 
  font-display: swap;
}
@font-face {
  font-family: "Roboto_49.0.0_google";
  src: url("../../../fonts/Roboto-Italic_49.0.0_google.ttf");
  font-weight: 400; 
  font-style: italic;
  font-display: swap;
}