#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 > #backgroundBox {
  position: absolute;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Rectangle_1 {
  position: absolute;
  width: 372.7863636363637px;
  min-height: 701.0727272727275px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FDE6E6;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Image_1 {
  position: absolute;
  width: 326.3750000000002px;
  height: 336.42857142857116px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Path_1 {
  position: absolute;
  width: 376.0px;
  height: 357.0px;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Path_2 {
  position: absolute;
  width: 58.0px;
  height: 5.0px;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Text_1 {
  position: absolute;
  width: 178.0px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_49.0.0_google',Arial;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Text_1 span {
  color: #8D95A3;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_49.0.0_google',Arial;
  font-size: 13.0pt;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-transform: none;
  line-height: 24px;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #8D95A3;
  text-decoration: none;
  font-family: 'Roboto_49.0.0_google',Arial;
  font-size: 13.0pt;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-transform: none;
  line-height: 24px;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Text_2 {
  position: absolute;
  width: 260.0px;
  min-height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_49.0.0_google',Arial;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Text_2 span {
  color: #33302E;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_49.0.0_google',Arial;
  font-size: 21.0pt;
  font-weight: 700;
  text-transform: none;
  line-height: 39px;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #33302E;
  text-decoration: none;
  font-family: 'Roboto_49.0.0_google',Arial;
  font-size: 21.0pt;
  font-weight: 700;
  text-transform: none;
  line-height: 39px;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Button_1 {
  position: absolute;
  width: 169.8373133751645px;
  min-height: 39.99999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_49.0.0_google',Arial;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 19.999999999999886px;
  border-top-right-radius: 19.999999999999886px;
  border-bottom-right-radius: 19.999999999999886px;
  border-bottom-left-radius: 19.999999999999886px;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFB97;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Button_1 > .borderLayer {
  border-top-left-radius: 19.999999999999886px;
  border-top-right-radius: 19.999999999999886px;
  border-bottom-right-radius: 19.999999999999886px;
  border-bottom-left-radius: 19.999999999999886px;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 19.999999999999886px;
  border-top-right-radius: 19.999999999999886px;
  border-bottom-right-radius: 19.999999999999886px;
  border-bottom-left-radius: 19.999999999999886px;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Button_1 span {
  color: #B32C1A;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto_49.0.0_google',Arial;
  font-size: 16.5pt;
  font-weight: 900;
  text-transform: none;
  line-height: 27px;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #B32C1A;
  text-decoration: none;
  font-family: 'Roboto_49.0.0_google',Arial;
  font-size: 16.5pt;
  font-weight: 900;
  text-transform: none;
  line-height: 27px;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Input_text_1 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Input_text_1 input::-moz-placeholder {
  color: #82888C;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Input_text_1 input:-moz-placeholder {
  color: #82888C;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Input_text_1 input:-ms-input-placeholder {
  color: #82888C;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Input_text_1 {
  position: absolute;
  width: 160.2499999999996px;
  height: 28.999999999999773px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Input_text_1 .valign {
  vertical-align: middle;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Input_text_1 input {
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto_49.0.0_google',Arial;
  font-size: 10.0pt;
  font-style: italic;
  font-weight: 400;
  text-transform: none;
  line-height: 17px;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Input_text_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Input_text_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Input_text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Text_3 {
  position: absolute;
  width: 116.56249999999977px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_49.0.0_google',Arial;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Text_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_49.0.0_google',Arial;
  font-size: 16.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 31px;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto_49.0.0_google',Arial;
  font-size: 16.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 31px;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Text_4 {
  position: absolute;
  width: 89.00000000000006px;
  min-height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_49.0.0_google',Arial;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Text_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_49.0.0_google',Arial;
  font-size: 16.5pt;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-transform: none;
  line-height: 30px;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto_49.0.0_google',Arial;
  font-size: 16.5pt;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-transform: none;
  line-height: 30px;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Text_5 {
  position: absolute;
  width: 206.24999999999977px;
  min-height: 31.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_49.0.0_google',Arial;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Text_5 .valign {
  vertical-align: top;
  text-align: right;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Text_5 span {
  color: #33302E;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto_49.0.0_google',Arial;
  font-size: 16.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 31px;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #33302E;
  text-decoration: none;
  font-family: 'Roboto_49.0.0_google',Arial;
  font-size: 16.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 31px;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Path_3 {
  position: absolute;
  width: 12.5px;
  height: 23.0px;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Hotspot_1 {
  position: absolute;
  width: 51.0px;
  height: 51.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Path_4 {
  position: absolute;
  width: 29.0px;
  height: 25.046096801757812px;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Path_5 {
  position: absolute;
  width: 28.740253448590636px;
  height: 25.046096801757812px;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Hotspot_2 {
  position: absolute;
  width: 55.000000000000114px;
  height: 52.000000000000014px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Rectangle_2 {
  position: absolute;
  width: 375.0px;
  min-height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Rectangle_2 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Text_6 {
  position: absolute;
  width: 36.0px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Helvetica',Arial;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Text_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Text_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Text_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica',Arial;
  font-size: 10.2pt;
  font-weight: 400;
  text-transform: none;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Helvetica',Arial;
  font-size: 10.2pt;
  font-weight: 400;
  text-transform: none;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Text_6 span#rtr-s-Text_6_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Helvetica',Arial;
  font-size: 10.2pt;
  font-weight: 400;
  text-transform: none;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Path_6 {
  position: absolute;
  width: 22.0px;
  height: 11.333333015441895px;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Path_7 {
  position: absolute;
  width: 1.3280372619628906px;
  height: 4.0px;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Path_8 {
  position: absolute;
  width: 17.0px;
  height: 6.333333492279053px;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Path_9 {
  position: absolute;
  width: 15.272381936252462px;
  height: 10.965571403503418px;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Path_10 {
  position: absolute;
  width: 17.0px;
  height: 10.666667938232422px;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 #s-Hotspot_3 {
  position: absolute;
  width: 186.14318181818203px;
  height: 68.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8bf2b23b-a86d-411f-a8d8-6198e3f59f71 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}