#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 > #backgroundBox {
  position: absolute;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Rectangle_9 {
  position: absolute;
  width: 372.7863636363637px;
  min-height: 701.0727272727275px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Rectangle_9 > .backgroundLayer > .colorLayer {
  background-color: #FFFB97;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Rectangle_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Rectangle_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Path_6 {
  position: absolute;
  width: 387.0000000000001px;
  height: 586.0px;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Paragraph_2 {
  position: absolute;
  width: 178.0px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_49.0.0_google',Arial;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Paragraph_2 span {
  color: #8D95A3;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_49.0.0_google',Arial;
  font-size: 13.0pt;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-transform: none;
  line-height: 24px;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #8D95A3;
  text-decoration: none;
  font-family: 'Roboto_49.0.0_google',Arial;
  font-size: 13.0pt;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-transform: none;
  line-height: 24px;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Paragraph_1 {
  position: absolute;
  width: 260.0px;
  min-height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_49.0.0_google',Arial;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Paragraph_1 span {
  color: #2A1617;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_49.0.0_google',Arial;
  font-size: 21.0pt;
  font-weight: 900;
  text-transform: none;
  line-height: 39px;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #2A1617;
  text-decoration: none;
  font-family: 'Roboto_49.0.0_google',Arial;
  font-size: 21.0pt;
  font-weight: 900;
  text-transform: none;
  line-height: 39px;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Rectangle_3 {
  position: absolute;
  width: 375.0px;
  min-height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Rectangle_3 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Paragraph_7 {
  position: absolute;
  width: 36.0px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Helvetica',Arial;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Paragraph_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica',Arial;
  font-size: 10.2pt;
  font-weight: 400;
  text-transform: none;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Helvetica',Arial;
  font-size: 10.2pt;
  font-weight: 400;
  text-transform: none;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Paragraph_7 span#rtr-s-Paragraph_7_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Helvetica',Arial;
  font-size: 10.2pt;
  font-weight: 400;
  text-transform: none;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Path_50 {
  position: absolute;
  width: 22.0px;
  height: 11.333333015441895px;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Path_51 {
  position: absolute;
  width: 1.3280372619628906px;
  height: 4.0px;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Path_52 {
  position: absolute;
  width: 17.0px;
  height: 6.333333492279053px;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Path_53 {
  position: absolute;
  width: 15.272381936252462px;
  height: 10.965571403503418px;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Path_54 {
  position: absolute;
  width: 17.0px;
  height: 10.666667938232422px;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Path_7 {
  position: absolute;
  width: 12.5px;
  height: 23.0px;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Hotspot_2 {
  position: absolute;
  width: 51.0px;
  height: 51.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Path_8 {
  position: absolute;
  width: 29.0px;
  height: 25.046096801757812px;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Union_1 {
  position: absolute;
  width: 28.740253448590636px;
  height: 25.046096801757812px;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Hotspot_5 {
  position: absolute;
  width: 55.000000000000114px;
  height: 52.000000000000014px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Image_1 {
  position: absolute;
  width: 189.95588235294144px;
  height: 217.09243697478996px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Path_9 {
  position: absolute;
  width: 29.99824379577212px;
  height: 29.02466357543517px;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Path_10 {
  position: absolute;
  width: 29.998243795771895px;
  height: 29.02466357543517px;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Path_11 {
  position: absolute;
  width: 29.99824379577211px;
  height: 29.02466357543517px;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Path_12 {
  position: absolute;
  width: 29.998243795772165px;
  height: 29.02466357543517px;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Path_13 {
  position: absolute;
  width: 29.998243795772346px;
  height: 29.02466357543517px;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Button_1 {
  position: absolute;
  width: 146.9999999999998px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_49.0.0_google',Arial;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FE7F42;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FE7F42;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FE7F42;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FE7F42;
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Button_1 .paddingLayer {
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Button_1 span {
  color: #FE7F42;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto_49.0.0_google',Arial;
  font-size: 16.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FE7F42;
  text-decoration: none;
  font-family: 'Roboto_49.0.0_google',Arial;
  font-size: 16.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Hotspot_1 {
  position: absolute;
  width: 171.0px;
  height: 62.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Input_text_1 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Input_text_1 input::-moz-placeholder {
  color: #82888C;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Input_text_1 input:-moz-placeholder {
  color: #82888C;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Input_text_1 input:-ms-input-placeholder {
  color: #82888C;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Input_text_1 {
  position: absolute;
  width: 276.9999999999999px;
  height: 252.99999999999955px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Input_text_1 .valign {
  vertical-align: top;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Input_text_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 17px;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Input_text_1 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Input_text_1 > .backgroundLayer > .colorLayer {
  background-color: #E4E7EB;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Input_text_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Input_text_1 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 #s-Input_text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-2ad37207-595f-48f9-be81-255fa9ce5ac2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}