@font-face {
  font-family: "Roboto_49.0.0_google";
  src: url("../../../fonts/Roboto-Bold_49.0.0_google.ttf");
  font-weight: 700; 
  font-display: swap;
}
@font-face {
  font-family: "Poppins_24.0.0_google";
  src: url("../../../fonts/Poppins-Semibold_24.0.0_google.ttf");
  font-weight: 600; 
  font-display: swap;
}
@font-face {
  font-family: "Roboto_49.0.0_google";
  src: url("../../../fonts/Roboto-Italic_49.0.0_google.ttf");
  font-weight: 400; 
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins_21.0.0_google";
  src: url("../../../fonts/Poppins-Medium_21.0.0_google.ttf");
  font-weight: 500; 
  font-display: swap;
}
@font-face {
  font-family: "Poppins_24.0.0_google";
  src: url("../../../fonts/Poppins-Regular_24.0.0_google.ttf");
  font-weight: 400; 
  font-display: swap;
}
@font-face {
  font-family: "Roboto_49.0.0_google";
  src: url("../../../fonts/Roboto-Regular_49.0.0_google.ttf");
  font-weight: 400; 
  font-display: swap;
}
@font-face {
  font-family: "Roboto_49.0.0_google";
  src: url("../../../fonts/Roboto-Black_49.0.0_google.ttf");
  font-weight: 900; 
  font-display: swap;
}