@font-face {
  font-family: "Roboto_49.0.0_google";
  src: url("../../../fonts/Roboto-Light_49.0.0_google.ttf");
  font-weight: 300; 
  font-display: swap;
}
@font-face {
  font-family: "Roboto_49.0.0_google";
  src: url("../../../fonts/Roboto-Bold_49.0.0_google.ttf");
  font-weight: 700; 
  font-display: swap;
}
@font-face {
  font-family: "Montserrat_0.0.0_system";
  src: url("../../../fonts/Montserrat-Regular.ttf");
  font-weight: 400; 
  font-display: swap;
}
@font-face {
  font-family: "Roboto_49.0.0_google";
  src: url("../../../fonts/Roboto-Regular_49.0.0_google.ttf");
  font-weight: 400; 
  font-display: swap;
}
@font-face {
  font-family: "Roboto_49.0.0_google";
  src: url("../../../fonts/Roboto-Black_49.0.0_google.ttf");
  font-weight: 900; 
  font-display: swap;
}
@font-face {
  font-family: "Roboto_0.0.0_system";
  src: url("../../../fonts/Roboto-Medium.ttf");
  font-weight: 500; 
  font-display: swap;
}