@font-face {
  font-family: "Roboto_49.0.0_google";
  src: url("../../../fonts/Roboto-Black_49.0.0_google.ttf");
  font-weight: 900; 
  font-display: swap;
}
@font-face {
  font-family: "Roboto_49.0.0_google";
  src: url("../../../fonts/Roboto-Bold_49.0.0_google.ttf");
  font-weight: 700; 
  font-display: swap;
}