#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 > #backgroundBox {
  position: absolute;
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 #s-Rectangle_1 {
  position: absolute;
  width: 372.7863636363637px;
  min-height: 701.0727272727275px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FD9727;
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 #s-Rectangle_1 span {
  color: #B32C1A;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #B32C1A;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 #s-Image_1 {
  position: absolute;
  width: 196.37500000000006px;
  height: 224.4285714285714px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 #s-Rectangle_2 {
  position: absolute;
  width: 375.0px;
  min-height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 #s-Rectangle_2 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 #s-Text_1 {
  position: absolute;
  width: 36.0px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Helvetica',Arial;
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 #s-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica',Arial;
  font-size: 10.2pt;
  font-weight: 400;
  text-transform: none;
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Helvetica',Arial;
  font-size: 10.2pt;
  font-weight: 400;
  text-transform: none;
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 #s-Text_1 span#rtr-s-Text_1_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Helvetica',Arial;
  font-size: 10.2pt;
  font-weight: 400;
  text-transform: none;
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 #s-Path_1 {
  position: absolute;
  width: 22.0px;
  height: 11.333333015441895px;
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 #s-Path_2 {
  position: absolute;
  width: 1.3280372619628906px;
  height: 4.0px;
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 #s-Path_3 {
  position: absolute;
  width: 17.0px;
  height: 6.333333492279053px;
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 #s-Path_4 {
  position: absolute;
  width: 15.272381936252462px;
  height: 10.965571403503418px;
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 #s-Path_5 {
  position: absolute;
  width: 17.0px;
  height: 10.666667938232422px;
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 #s-Path_6 {
  position: absolute;
  width: 12.5px;
  height: 23.0px;
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 #s-Hotspot_1 {
  position: absolute;
  width: 51.0px;
  height: 51.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 #s-Path_7 {
  position: absolute;
  width: 29.0px;
  height: 25.046096801757812px;
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 #s-Path_8 {
  position: absolute;
  width: 28.740253448590636px;
  height: 25.046096801757812px;
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 #s-Hotspot_2 {
  position: absolute;
  width: 55.000000000000114px;
  height: 52.000000000000014px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 #s-Text_2 {
  position: absolute;
  width: 253.96795654296852px;
  min-height: 148.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_49.0.0_google',Arial;
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 #s-Text_2 .valign {
  vertical-align: top;
  text-align: center;
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 #s-Text_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto_49.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 900;
  text-transform: none;
  line-height: 28px;
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto_49.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 900;
  text-transform: none;
  line-height: 28px;
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 #s-Image_2 {
  position: absolute;
  width: 100.0px;
  height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 #s-Button_1 {
  position: absolute;
  width: 137.83749648063417px;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_49.0.0_google',Arial;
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 21.0px;
  border-top-right-radius: 21.0px;
  border-bottom-right-radius: 21.0px;
  border-bottom-left-radius: 21.0px;
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 #s-Button_1 > .borderLayer {
  border-top-left-radius: 21.0px;
  border-top-right-radius: 21.0px;
  border-bottom-right-radius: 21.0px;
  border-bottom-left-radius: 21.0px;
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 21.0px;
  border-top-right-radius: 21.0px;
  border-bottom-right-radius: 21.0px;
  border-bottom-left-radius: 21.0px;
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 #s-Button_1 span {
  color: #FD9727;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto_49.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 700;
  text-transform: none;
  line-height: 27px;
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FD9727;
  text-decoration: none;
  font-family: 'Roboto_49.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 700;
  text-transform: none;
  line-height: 27px;
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 #s-Hotspot_3 {
  position: absolute;
  width: 171.0px;
  height: 68.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a6efc21c-9ba7-4d54-bb67-9be1dd853861 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}