#s-de9af6f2-0485-4601-920c-85426e62a7fc > #backgroundBox {
  position: absolute;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Button_1 {
  position: absolute;
  width: 325.6012878417969px;
  min-height: 49.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_49.0.0_google',Arial;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 24.0px;
  border-top-right-radius: 24.0px;
  border-bottom-right-radius: 24.0px;
  border-bottom-left-radius: 24.0px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFB97;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Button_1 > .borderLayer {
  border-top-left-radius: 24.0px;
  border-top-right-radius: 24.0px;
  border-bottom-right-radius: 24.0px;
  border-bottom-left-radius: 24.0px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 24.0px;
  border-top-right-radius: 24.0px;
  border-bottom-right-radius: 24.0px;
  border-bottom-left-radius: 24.0px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Button_1 span {
  color: #B32C1A;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto_49.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 700;
  text-transform: none;
  line-height: 21px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Button_1 span#rtr-s-Button_1_0 {
  color: #B32C1A;
  text-decoration: none;
  font-family: 'Roboto_49.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 700;
  text-transform: none;
  line-height: 21px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_1 {
  position: absolute;
  width: 83.0px;
  min-height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_49.0.0_google',Arial;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_1 span {
  color: #33302E;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_49.0.0_google',Arial;
  font-size: 14.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 30px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_1 span#rtr-s-Text_1_0 {
  color: #33302E;
  text-decoration: none;
  font-family: 'Roboto_49.0.0_google',Arial;
  font-size: 14.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 30px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_2 {
  position: absolute;
  width: 137.9999999999999px;
  min-height: 68.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_49.0.0_google',Arial;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_2 .valign {
  vertical-align: top;
  text-align: right;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_2 span {
  color: #33302E;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto_49.0.0_google',Arial;
  font-size: 15.75pt;
  font-weight: 900;
  text-transform: none;
  line-height: 34px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_2 span#rtr-s-Text_2_0 {
  color: #33302E;
  text-decoration: none;
  font-family: 'Roboto_49.0.0_google',Arial;
  font-size: 15.75pt;
  font-weight: 900;
  text-transform: none;
  line-height: 34px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Hotspot_1 {
  position: absolute;
  width: 325.6012878417971px;
  height: 55.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Rectangle_1 {
  position: absolute;
  width: 79.99999999999994px;
  min-height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 13.0px;
  border-top-right-radius: 13.0px;
  border-bottom-right-radius: 13.0px;
  border-bottom-left-radius: 13.0px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFB97;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Rectangle_1 > .borderLayer {
  border-top-left-radius: 13.0px;
  border-top-right-radius: 13.0px;
  border-bottom-right-radius: 13.0px;
  border-bottom-left-radius: 13.0px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 13.0px;
  border-top-right-radius: 13.0px;
  border-bottom-right-radius: 13.0px;
  border-bottom-left-radius: 13.0px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Image_1 {
  position: absolute;
  width: 54.70588235294127px;
  height: 62.521008403361435px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_4 {
  position: absolute;
  width: 178.0px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_49.0.0_google',Arial;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_4 span {
  color: #8D95A3;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_49.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-transform: none;
  line-height: 21px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_4 span#rtr-s-Text_4_0 {
  color: #8D95A3;
  text-decoration: none;
  font-family: 'Roboto_49.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-transform: none;
  line-height: 21px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_5 {
  position: absolute;
  width: 169.0000000000001px;
  min-height: 58.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_49.0.0_google',Arial;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_5 span {
  color: #33302E;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_49.0.0_google',Arial;
  font-size: 14.25pt;
  font-weight: 700;
  letter-spacing: 0.3px;
  text-transform: none;
  line-height: 29px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_5 span#rtr-s-Text_5_0 {
  color: #33302E;
  text-decoration: none;
  font-family: 'Roboto_49.0.0_google',Arial;
  font-size: 14.25pt;
  font-weight: 700;
  letter-spacing: 0.3px;
  text-transform: none;
  line-height: 29px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_14 {
  position: absolute;
  width: 71.99999999999989px;
  min-height: 52.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_49.0.0_google',Arial;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_14 span {
  color: #33302E;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_49.0.0_google',Arial;
  font-size: 12.75pt;
  font-weight: 400;
  text-transform: none;
  line-height: 26px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_14 span#rtr-s-Text_14_0 {
  color: #33302E;
  text-decoration: none;
  font-family: 'Roboto_49.0.0_google',Arial;
  font-size: 12.75pt;
  font-weight: 400;
  text-transform: none;
  line-height: 26px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_15 {
  position: absolute;
  width: 170.38235294117695px;
  min-height: 57.99999999999997px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_49.0.0_google',Arial;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_15 span {
  color: #33302E;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_49.0.0_google',Arial;
  font-size: 14.25pt;
  font-weight: 400;
  letter-spacing: 0.3px;
  text-transform: none;
  line-height: 29px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_15 span#rtr-s-Text_15_0 {
  color: #33302E;
  text-decoration: none;
  font-family: 'Roboto_49.0.0_google',Arial;
  font-size: 14.25pt;
  font-weight: 400;
  letter-spacing: 0.3px;
  text-transform: none;
  line-height: 29px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_16 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_49.0.0_google',Arial;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_16 .valign {
  vertical-align: top;
  text-align: center;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_16 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto_49.0.0_google',Arial;
  font-size: 9.0pt;
  font-style: italic;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_16 span#rtr-s-Text_16_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Roboto_49.0.0_google',Arial;
  font-size: 9.0pt;
  font-style: italic;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Rectangle_2 {
  position: absolute;
  width: 375.0px;
  min-height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Rectangle_2 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_9 {
  position: absolute;
  width: 36.0px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Helvetica',Arial;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica',Arial;
  font-size: 10.2pt;
  font-weight: 400;
  text-transform: none;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_9 span#rtr-s-Text_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Helvetica',Arial;
  font-size: 10.2pt;
  font-weight: 400;
  text-transform: none;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_9 span#rtr-s-Text_9_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Helvetica',Arial;
  font-size: 10.2pt;
  font-weight: 400;
  text-transform: none;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Path_1 {
  position: absolute;
  width: 22.0px;
  height: 11.333333015441895px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Path_2 {
  position: absolute;
  width: 1.3280372619628906px;
  height: 4.0px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Path_3 {
  position: absolute;
  width: 17.0px;
  height: 6.333333492279053px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Path_4 {
  position: absolute;
  width: 15.272381936252462px;
  height: 10.965571403503418px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Path_5 {
  position: absolute;
  width: 17.0px;
  height: 10.666667938232422px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_10 {
  position: absolute;
  width: 184.00000000000023px;
  min-height: 64.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_49.0.0_google',Arial;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_10 .valign {
  vertical-align: top;
  text-align: right;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_10 span {
  color: #B32C1A;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto_49.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 700;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  line-height: 32px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_10 span#rtr-s-Text_10_0 {
  color: #B32C1A;
  text-decoration: none;
  font-family: 'Roboto_49.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 700;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  line-height: 32px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Path_6 {
  position: absolute;
  width: 12.5px;
  height: 23.0px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Hotspot_2 {
  position: absolute;
  width: 51.0px;
  height: 51.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_12 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_49.0.0_google',Arial;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_12 .valign {
  vertical-align: top;
  text-align: center;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_12 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto_49.0.0_google',Arial;
  font-size: 9.0pt;
  font-style: italic;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Text_12 span#rtr-s-Text_12_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto_49.0.0_google',Arial;
  font-size: 9.0pt;
  font-style: italic;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc #s-Image_2 {
  position: absolute;
  width: 227.0px;
  height: 227.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-de9af6f2-0485-4601-920c-85426e62a7fc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}