@font-face {
  font-family: "Roboto_49.0.0_google";
  src: url("../../../fonts/Roboto-Bold_49.0.0_google.ttf");
  font-weight: 700; 
  font-display: swap;
}
@font-face {
  font-family: "Poppins_24.0.0_google";
  src: url("../../../fonts/Poppins-Black_24.0.0_google.ttf");
  font-weight: 900; 
  font-display: swap;
}
@font-face {
  font-family: "Poppins_21.0.0_google";
  src: url("../../../fonts/Poppins-Light_21.0.0_google.ttf");
  font-weight: 300; 
  font-display: swap;
}
@font-face {
  font-family: "Roboto_49.0.0_google";
  src: url("../../../fonts/Roboto-Medium_49.0.0_google.ttf");
  font-weight: 500; 
  font-display: swap;
}
@font-face {
  font-family: "Roboto_49.0.0_google";
  src: url("../../../fonts/Roboto-Regular_49.0.0_google.ttf");
  font-weight: 400; 
  font-display: swap;
}